<h1> Welcome to PIXEL </h1>
<%= form_for :games do  |f|%>
<%= f.label :name %>
<%= f.text_field :name %>

<%end%>
<button id='start_button'>Create a match</button>
<div id='game_list'>
<%# render 'games' %>
</div>
